<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<org.eventb.core.contextFile org.eventb.core.configuration="org.eventb.core.fwd;de.prob.symbolic.ctxBase" org.eventb.core.generated="false" org.eventb.texttools.text_lastmodified="1682189559972" org.eventb.texttools.text_representation="context Context&#10;&#10;sets Gare Quais Traffic_Light&#10;&#10;constants Namur Liege Bruxelles Leuven Ottignies Huy Quai1 Quai2 Lvn_Lge Lge_Lvn Lvn_Bxl Bxl_Lvn Bxl_Ott Ott_Bxl Ott_Nam Nam_Ott Huy_Nam Nam_Huy Lge_Huy Huy_Lge&#10;&#10;axioms&#10;  @axm1 partition (Gare, {Namur}, {Bruxelles}, {Liege}, {Huy}, {Ottignies}, {Leuven})&#10;  @axm2 partition (Quais, {Quai1},{Quai2})&#10;  @axm3 partition (Traffic_Light, {Lvn_Lge}, {Lge_Lvn}, {Lvn_Bxl}, {Bxl_Lvn}, {Bxl_Ott}, {Ott_Bxl}, {Ott_Nam}, {Nam_Ott}, {Huy_Nam}, {Nam_Huy}, {Lge_Huy}, {Huy_Lge})&#10;end&#10;" version="3">
    <org.eventb.core.carrierSet name="_2zUqsOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Gare"/>
    <org.eventb.core.carrierSet name="_2zUqseE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Quais"/>
    <org.eventb.core.carrierSet name="_2zUqsuE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Traffic_Light"/>
    <org.eventb.core.constant name="_2zUqs-E-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Namur"/>
    <org.eventb.core.constant name="_2zUqtOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Liege"/>
    <org.eventb.core.constant name="_2zXG8OE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Bruxelles"/>
    <org.eventb.core.constant name="_2zXG8eE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Leuven"/>
    <org.eventb.core.constant name="_2zXG8uE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Ottignies"/>
    <org.eventb.core.constant name="_2zXG8-E-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Huy"/>
    <org.eventb.core.constant name="_2zXG9OE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Quai1"/>
    <org.eventb.core.constant name="_2zXG9eE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Quai2"/>
    <org.eventb.core.constant name="_2zZjMOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Lvn_Lge"/>
    <org.eventb.core.constant name="_2zZjMeE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Lge_Lvn"/>
    <org.eventb.core.constant name="_2zZjMuE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Lvn_Bxl"/>
    <org.eventb.core.constant name="_2zZjM-E-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Bxl_Lvn"/>
    <org.eventb.core.constant name="_2zZjNOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Bxl_Ott"/>
    <org.eventb.core.constant name="_2zZjNeE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Ott_Bxl"/>
    <org.eventb.core.constant name="_2zb_cOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Ott_Nam"/>
    <org.eventb.core.constant name="_2zb_ceE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Nam_Ott"/>
    <org.eventb.core.constant name="_2zb_cuE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Huy_Nam"/>
    <org.eventb.core.constant name="_2zb_c-E-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Nam_Huy"/>
    <org.eventb.core.constant name="_2zb_dOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Lge_Huy"/>
    <org.eventb.core.constant name="_2zb_deE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.identifier="Huy_Lge"/>
    <org.eventb.core.axiom name="_2zebsOE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.label="axm1" org.eventb.core.predicate="partition (Gare, {Namur}, {Bruxelles}, {Liege}, {Huy}, {Ottignies}, {Leuven})"/>
    <org.eventb.core.axiom name="_2zebseE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.label="axm2" org.eventb.core.predicate="partition (Quais, {Quai1},{Quai2})"/>
    <org.eventb.core.axiom name="_2zebsuE-Ee2KaoH_Krztlw" org.eventb.core.generated="false" org.eventb.core.label="axm3" org.eventb.core.predicate="partition (Traffic_Light, {Lvn_Lge}, {Lge_Lvn}, {Lvn_Bxl}, {Bxl_Lvn}, {Bxl_Ott}, {Ott_Bxl}, {Ott_Nam}, {Nam_Ott}, {Huy_Nam}, {Nam_Huy}, {Lge_Huy}, {Huy_Lge})"/>
</org.eventb.core.contextFile>